body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #5edfff;
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  line-height: 0.5;
  margin: 50px auto 0 auto;
  width: 2000;
}

h2 {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.188rem;
  color: #5edfff;
}

h3 {
  line-height: 1;
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 1;
  color: #5edfff;
  margin-bottom: 0;
}

.cloud1 {
  position: absolute;
  right: 200px;
  top: 350px;
  width: 21.875rem;
}
.cloud2 {
  position: absolute;
  left: 200px;
  top: 50px;
  width: 21.875rem;
}

.mountain {
  height: 32rem;
  top: 15px;
  position: relative;
}

.top-container {
  font-weight: normal;
  background-color: #ecfcff;
  position: relative;
  padding-top: 300px;
}

.tech-stack-row {
}

.zak-profile-img {
  margin-top: 50px;
}

table.tech-table {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tech-icons {
  width: 25px;
}
.analytics {
  margin-top: 0;
}

.databases {
  margin-top: 0;
}

.services {
  margin-top: 0;
}

.middle-container {
  background-color: #ecfcff;
}

.profile {
  margin-left: 300px;
  margin-right: 300px;
  line-height: 2;
}

.bottom-container {
}

table.contact-links-table {
  margin-left: auto;
  margin-right: auto;
}
